{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
</head>
<body>
	<!-- your single-location forecast interface here -->
  <div class="container">
    
    <div class="background">
    
    
    <div class="navbar">
      <div class="col-11">
      </div>
      <div class="col-1">
        <img  src="/static/weather/assets/button"/>
      </div>
      </div>
    
    <!-- row containing city name and distance -->
    <div class="row">
      <div class="col">
       <p style="font-size: 80px; color: #033f63;">BERKELEY, CA </p>
      </div>
     
    </div>
    
    <!-- row containing icon of weather, current temperature -->
    <div class="row" style="border-style: solid;">
      <div class="col">
        <img width='100%' src ="/static/weather/assets/cloudy.png"> 
      </div>
      <div class="col">
        <p style="font-size: 140px; text-align: center;">68°F</p>
      </div>
    </div>
    
    <!-- row containing weather description, time -->
    <div class="row">
      <div class="col">
        <p style="color: black;">partly cloudy</p>
      </div>
      <div class="col">
        <p style="text-align: right; color: black;"> 10:30 am</p>
      </div>
    </div>
    
    <!-- dropdown menu for hourly -->
    <div class="row menu">
     
      <div class="col-11">
        <p> HOURLY: </p>
      </div>
      <div class="col-1 ddbutton">
        <p> > </p>
      </div>
      
    </div>
    
    <!-- hourly forecast diagram -->
    <div class="row" >
      
        <img width=100% src="/static/weather/assets/hourlyforecast"/>
   
      
    </div>
    
    <!-- dropdown menu for alert -->
    <div class="row menu">
      <div class="col-11">
        <p> ALERT: </p>
      </div>
      <div class="col-1 ddbutton">
        <p> > </p>
      </div>
    </div>
    
    
    <!-- dropdown menu for your ideal day -->
    <div class="row menu">
      <div class="col-11">
        <p> YOUR IDEAL DAY? </p>
      </div>
      <div class="col-1 ddbutton">
        <p> > </p>
      </div>
    </div>
    
    
    <!-- ideal day dropdown -->
    <div class="row">
      <img padding=0px border=0px width=100% src="/static/weather/assets/daydescription"/>
    </div>
    
    
    <!-- dropdown menu for more details -->
    <div class="row menu">
      <div class="col-11">
        <p> MORE DETAILS ABOUT TODAY: </p>
      </div>
      <div class="col-1 ddbutton">
        <p> > </p>
      </div>
    </div>
  
    
  
    </div>
  </div>
</body>
</html>





